.chat {
    width: 75%;
    position: relative;

}

.chat__header {
    height: 10%;
    max-height: 50px;
    display: flex;
    align-items: center;
    padding: 15px 40px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03), 0 7px 9px rgba(0, 0, 0, 0.03);
    border-radius: 10px 10px 0 0;
    background-color: rgba(46, 48, 51, 0.98);
}

.chat__header .MuiAvatar-circle{
    max-height: 30px;
    max-width: 30px;
}
.chat__header-title {
    color: rgba(255, 255, 255, 0.9);
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    line-height: 24px;
    margin: 0 15px;
}

.chat__header-time{
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    line-height: 24px;
}

.chat__body {
    padding: 30px;
    height: 70%;
    overflow-y: scroll;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.01);
    border-radius: 10px 10px 0 0;

}

.chat__mssg {
    display: flex;
    position: relative;
    margin-top: 15px;
}

.chat__mssg-receiver {
    text-align: right;
    justify-content: flex-end;
    color: black;
}

.chat__mssg-body {
    margin-left: 15px;
    color: #ffffff;
    font-size: 15px;
    font-style: normal;
    letter-spacing: normal;
    line-height: 20px;
}

.chat__mssg-text {
    width: fit-content;
    padding: 10px;
    border-radius: 16px 16px 16px 2px;
    background-color: rgba(255, 255, 255, 0.05);
}

.chat__mssg-receiver .chat__mssg-text {
    border-radius: 16px 16px 2px;
    background-color: rgba(0, 0, 0, 0.2);
}

.chat__mssg-time {
    color: rgba(255, 255, 255, .5);;
    margin-top: 5px;
    font-size: xx-small;
    letter-spacing: normal;
    line-height: 12px;
    text-transform: uppercase;
}

.chat__footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 15px;
}

.sbm__form {
    position: relative;
    display: flex;
    align-items: center;
}

.sbm__form-input {
    border: none;
    outline: none;
    flex: 1;
    padding: 0.7rem 2rem 0.7rem 1rem;
    margin-right: 1rem;
    flex-grow: 2;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    color: white;
}

.sbm__form-btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    cursor: pointer;
    transform: translateX(-53px);
    width: 40px;
    height: 40px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.09), 0 1px 1px rgba(0, 0, 0, 0.12);
    border-radius: 25px;
    background-color: #006cff;
}

.sbm__form-btn svg {
    fill: #ffffff;
    margin: 0 auto;
}